
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserra:twght@400;600&display=swap');

:root {
    --cor-primaria:  #0A1931;
    --cor-segundaria:  #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover:  #FF8438;
    --cor-link:  #1d3761;
    --cor-rodape:  #000000;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*  {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 5% 0% 0% 15%;  
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }
 
 h1 {
     font-family: var(--fonte-primaria);
     font-size: 2.25rem;
     line-height: 56px;
 }
 
 .apresentacao__paragrafo {
     font-family: var(--fonte-secundaria);
     font-size: 1.9rem;
     line-height: 36px;
 }

 .foto {
    border-radius: 16px;
    position: relative;
}

.rodape {
    align-items: center;
    background-color: var(--cor-tercearia);
    display: flex;
    height: 88px;
    justify-content: space-evenly;
    position: relative;
    top: 15rem;
}


.rodape__desenvolvedor {
    color: var(--cor-rodape);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.link__alura {
    color: var(--cor-rodape);
    font-size: 1.5rem;
    text-decoration: none;
}

.link__alura:hover {
    color: var(--cor-hover);
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}

@media (max-width: 1250px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;  
    }

    .apresentacao__titulo {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 32px;
        font-weight: 400;
        height: 168px; 
    }

    .rede__link { 
        width: 386px;
    }
    
    .foto {
        top: 1rem; 
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        position: relative
    }
}
 