
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserra:twght@400;600&display=swap');

:root {
    --cor-primaria:  #0A1931; 
    --cor-segundaria:  #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover:  #FF8438;
    --cor-link:  #1d3761;
    --cor-rodape:  #000000;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*  {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 5% 0% 0% 15%;  
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 56px;
}

strong {
    color: var(--cor-tercearia);
}

.apresentacao__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 36px;
}

span {
    color: var(--cor-hover);
}

h2 {
    font-family: var(--fonte-primaria);
    line-height: 40px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;  
}

.rede__link {
    align-items: center;
    border: 1px solid var(--cor-tercearia);
    border-radius: 8px;
    color: var(--cor-segundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 69px;
    width: 55%;
    text-decoration: none;
}

.rede__link:hover {
    background: var(--cor-link);
}

.foto {
    border-radius: 16px;
    bottom: 6rem;
    position: relative;
}

.rodape {
    align-items: center;
    background-color: var(--cor-tercearia);
    display: flex;
    height: 88px;
    justify-content: space-evenly;
    position: relative;
    top: auto;
}

.rodape__desenvolvedor {
    color: var(--cor-rodape);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.link__alura {
    color: var(--cor-rodape);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.link__alura:hover {
    color: var(--cor-hover);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}

@media (max-width: 575px) {
    body {
        background-color: var(--cor-rodape);
    }

    .cabecalho__menu {
       display: flex;
       flex-direction: column;
       gap: 35px;
       
    }

    .cabecalho__menu__link{
        font-size: 1.8rem;
    }

    .rede__link {
        width: 100%;
        }

    .foto {
        width: 80%;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .link__alura {
        font-weight: 600;
    } 
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;  
    }

    .apresentacao__titulo {
        font-size: 2.25rem;
        font-weight: 600;
    }

    .apresentacao__paragrafo {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 400;
    }

    .foto {
        top: 0rem; 
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        position: relative
    }
}

